<!-- templates/includes/stats_cards.html -->
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-secondary card-header-icon " >
        <div class="card-icon" style="background-color:#0073B7	">
          <i class="material-icons">storage</i>
        </div>
        <p class="card-category">Total Space</p>
        <h3 class="card-title">{{ sum_size }} <small>MO</small></h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons ">warning</i> Estimation before pre-treatments
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-secondary card-header-icon">
        <div class="card-icon" style="background-color:#00A2D3	">
          <i class="material-icons">description</i>
        </div>
        <p class="card-category">Nbr of files</p>
        <h3 class="card-title">{{ nbr_files }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Last 24 Hours
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">cloud_download</i>
        </div>
        <p class="card-category">Downloaded data</p>
        <h3 class="card-title">-</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">track_changes</i> Tracked from Web app
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-secondary card-header-icon">
        <div class="card-icon" style="background-color:	#7FD3E2	">
          <i class="material-icons">people</i>
        </div>
        <p class="card-category">Users</p>
        <h3 class="card-title">+{{ nbr_users }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">person_add</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  