{% extends "layouts/base.html" %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">storage</i>
        </div>
        <p class="card-category">Total Space</p>
        <h3 class="card-title">{{ sum_size }}
          <small>MO</small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-danger">warning</i>
          <a>Estimation before pre-treatments</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">description</i>
        </div>
        <p class="card-category">Nbr of files</p>
        <h3 class="card-title">{{ nbr_files }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Last 24 Hours
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">cloud_download</i>
        </div>
        <p class="card-category">Downloaded data</p>
        <h3 class="card-title">-</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">track_changes</i> Tracked from Web app
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">people</i>
        </div>
        <p class="card-category">Users</p>
        <h3 class="card-title">+{{ nbr_users }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">person_add</i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>






<div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Options:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
             
                  <li class="nav-item">
                    <a class="nav-link  " href="ui-notifications.html">
                      <i class="material-icons">inbox</i> Requests
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="upload.html">
                      <i class="material-icons">file_upload</i> Upload
                      <!-- <div class="ripple-container"></div> -->
                    </a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link active" href="#download">
                      <i class="material-icons">file_download</i> Download
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="data_description.html">
                      <i class="material-icons">info</i> Data description
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">

<!-- second option starts here -->

              <div class="tab-pane active" id="download">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
<!-- option content starts here -->
                <div class="card-body">
           <!-- Fix the form to properly handle multiple checkbox selections -->
<!-- Fix the form to use standard submission without relying on named URL -->
<form method="post">
  {% csrf_token %}
  
  <label for="metadata">Download FerryBox data</label>
  <hr> 
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-info">
            <tr>
              <th>Select</th>
              <th>Transect Name</th>
            </tr>
          </thead>
          <tbody>
            {% for trans in metadata %}
            <tr>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <!-- Use name that works with Django's request.POST.getlist() -->
                    <input class="form-check-input" type="checkbox" name="transect_select_download" value="{{ trans.Name }}">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </td>
              <td>{{ trans.Name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <hr>
  <!-- Add select all button -->
  <div class="row mb-3">
    <div class="col-md-4">
      <button type="button" id="select-all" class="btn btn-primary btn-sm">Select All</button>
      <button type="button" id="deselect-all" class="btn btn-default btn-sm">Deselect All</button>
    </div>
  </div>
  
  <button type="submit" class="btn btn-info btn-round">Download</button>
</form>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
<!-- third option starts here -->





            </div>
          </div>
        </div>
      </div>
    </div>

                        <!-- <button class="btn btn-primary btn-block" onclick="md.showNotification('top','right')">Top Right</button> -->
<!--                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  </div>
                </div>
              </div>
            </div>
        </div> -->


<!-- Specific Page JS goes HERE  -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
 
    $(document).ready(function() {
      // Select all checkboxes
      md.initFormExtendedDatetimepickers();

      $("#select-all").click(function(){
        $('input[name="transect_select_download"]').prop('checked', true);
      });
      
      // Deselect all checkboxes
      $("#deselect-all").click(function(){
        $('input[name="transect_select_download"]').prop('checked', false);
      });
    });
  </script>
  
{% endblock javascripts %}





