{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Page Blank {% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs" style="background-color: #003f5c !important;">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Graphs:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item"><a class="nav-link active" href="#transect" data-toggle="tab">Transect</a></li>
              <li class="nav-item"><a class="nav-link" href="map">Map</a></li>
              <li class="nav-item"><a class="nav-link" href="time_series/">Time series</a></li>
              <li class="nav-item"><a class="nav-link" href="scatter">Scatter</a></li>
              <li class="nav-item"><a class="nav-link" href="heat">Heat</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="transect">
            <form method="GET" action="{% url 'Ferry_plot:transect_plotting' %}">
              {% csrf_token %}
              <div class="row">

                <div class="col-md-5">
                  <label for="metadata">Transect reference</label>
                  <select id="transect_select" class="form-control select2" name="metadata" required>
                    {% if answered %}
                      <option selected>{{ save_transect }}</option>
                    {% endif %}
                    {% for trans in metadata %}
                      <option value="{{ trans.Name }}">{{ trans.Name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-3">
                  <label for="parameter">Parameter</label>
                  <select id="parameter_select" class="form-control select2" name="parameter_selection">
                    {% if answered %}
                      <option selected>{{ save_parameter }}</option>
                    {% endif %}
                    <option>Salinity_SBE45</option>
                    <option>Temp_in_SBE38</option>
                    <option>Oxygen</option>
                    <option>Turbidity</option>
                    <option>Chl_a</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="xaxis_label">X-axis Label</label>
                  <select class="form-control select2" name="xaxis_label">
                    {% if answered %}
                      <option selected>{{ save_xaxis }}</option>
                    {% endif %}
                    <option>Distance</option>
                    <option>Longitude</option>
                    <option>Latitude</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="qc_param">Quality Control</label>
                  <select class="form-control select2" name="qc_param">
                    {% if answered %}
                      <option selected>{{ save_qc }}</option>
                    {% endif %}
                    <option>0 - None</option>
                    <option>1 - Good</option>
                    <option>2 - Probably good</option>
                    <option>3 - Probably bad</option>
                    <option>4 - Bad</option>
                  </select>
                </div>
              </div>

              <div class="text-right mt-4">
                <button type="submit" class="btn btn-primary" style="background-color:#003f5c; width: 150px;">Plot</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  // Initialiser Select2
  $(document).ready(function () {
    $('.select2').select2();

    // Recherche personnalisée pour le champ transect
    $('#transectSearch').on('keyup', function () {
      const searchVal = $(this).val().toLowerCase();
      $('#transect_select option').each(function () {
        const text = $(this).text().toLowerCase();
        $(this).toggle(text.includes(searchVal));
      });
    });
  });
</script>
{% endblock javascripts %}
