{% extends "layouts/base.html" %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

{% block content %}
<!-- Statistiques -->
<div class="row">
  {% include "layouts/stats_cards.html" %}
</div>






    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs " style="background-color: #003f5c">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Options:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
             
                  <li class="nav-item">
                    <a class="nav-link active " href="#requests">
                      <i class="material-icons">inbox</i> Requests
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="upload.html">
                      <i class="material-icons">file_upload</i> Upload
                      <!-- <div class="ripple-container"></div> -->
                    </a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href="download.html">
                      <i class="material-icons">file_download</i> Download
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="data_description.html">
                      <i class="material-icons">info</i> Data description
                    </a>
                  </li>
                </ul>
               
              </div>
            </div>
          </div>



          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="transect">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>





                        <div class="row clearfix">
                          <div class="col-md-12 table-responsive">
                            <table class="table table-hover-warning table-sm" id="tab_logic">
                              <thead>
                                <tr>
                                  <th class="text-center">Name</th>
                                  <th class="text-center">Subject</th>
                                  <th class="text-center">Requested file</th>
                                  <th class="text-center">E-mail</th>
                                  <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for down in qs_down %}
                                <tr id="addr0" data-id="{{ down.id }}" align="center">
                                
                                  <td data-name="user_id">
                                    <input type="text" placeholder="Name" class="form-control" value="{{ down.Name }}" readonly />
                                  </td>
                        
                                  <td data-name="subject">
                                    <input type="text" placeholder="Subject" class="form-control" value="{{ down.Subject }}" readonly />
                                  </td>
                        
                                  <td data-name="request_file">
                                    <input type="text" placeholder="Requested File Description" class="form-control" value="{{ down.Transects }}" readonly />
                                  </td>
                        
                                  <td data-name="mail">
                                    <input type="email" placeholder="Email" class="form-control" value="{{ down.Email }}" readonly />
                                  </td>
                        
                                  <td data-name="answer">
                                    <div class="d-flex justify-content-center">
                                      <button type="button" class="btn btn-success btn-sm m-1" onclick="handleAction('{{ down.id }}', 'accept')">
                                        <i class="material-icons">check</i> Accept
                                      </button>
                                      <button type="button" class="btn btn-danger btn-sm m-1" onclick="handleAction('{{ down.id }}', 'reject')">
                                        <i class="material-icons">close</i> Reject
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        
                        



<!-- this part functions with a get form -->





            <form method="GET" action=".">
              {% csrf_token %}

              <div class="row">

            

            <div class="col-md-2 d-none">   
 
<!-- 
            <label for="metadata">ID</label>
            <select id="path_selection" class="custom-select" name="id">
              {% for q in qs_down %}
              <option >{{ q.ID_user }}</option>
              {% endfor %}
            </select>
                </div>
 -->



              

<!-- end of the functioning part -->

                      

<!-- <table id="dtBasicExample" class="table table-hover-warning table-sm" cellspacing="0" width="100%" >

  <thead>
    <tr align="center">


                <th>ID</th>            
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
               <th>Subject</th>
                <th>Transects</th>
                <th>Action</th>
                
      </tr>
  </thead>

  <tbody>

                          {% for down in qs_down %}
                          <tr align="center">                              
                              <td align="center">{{ down.Name }}</td>
                              <td align="center">{{ down.Email }}</td>
                              <td align="center">{{ down.Subject }}</td>
                              <td align="center">{{ down.Transects }}</td>
                              <td href="" class="btn btn-success " align="center">Confirm </td>
                              <td href="" class="btn btn-danger " align="center">Reject </td>
                          </tr>
                          {% endfor %}






                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
<!-- second option starts here -->

            </div>
          </div>
        </div>
      </div>
    </div>

                        <!-- <button class="btn btn-primary btn-block" onclick="md.showNotification('top','right')">Top Right</button> -->
<!--                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  </div>
                </div>
              </div>
            </div>
        </div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
    $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});




    $(document).ready(function() {
    $("#add_row").on("click", function() {
        // Dynamic Rows Code
        
        // Get max row id and set new id
        var newid = 0;
        $.each($("#tab_logic tr"), function() {
            if (parseInt($(this).data("id")) > newid) {
                newid = parseInt($(this).data("id"));
            }
        });
        newid++;
        
        var tr = $("<tr></tr>", {
            id: "addr"+newid,
            "data-id": newid
        });
        
        // loop through each td and create new elements with name of newid
        $.each($("#tab_logic tbody tr:nth(0) td"), function() {
            var td;
            var cur_td = $(this);
            
            var children = cur_td.children();
            
            // add new td and element if it has a nane
            if ($(this).data("name") !== undefined) {
                td = $("<td></td>", {
                    "data-name": $(cur_td).data("name")
                });
                
                var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                c.attr("name", $(cur_td).data("name") + newid);
                c.appendTo($(td));
                td.appendTo($(tr));
            } else {
                td = $("<td></td>", {
                    'text': $('#tab_logic tr').length
                }).appendTo($(tr));
            }
        });
        
        // add delete button and td
        /*
        $("<td></td>").append(
            $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
                .click(function() {
                    $(this).closest("tr").remove();
                })
        ).appendTo($(tr));
        */
        
        // add the new row
        $(tr).appendTo($('#tab_logic'));
        
        $(tr).find("td button.row-remove").on("click", function() {
             $(this).closest("tr").remove();
        });
});




    // Sortable Code
    var fixHelperModified = function(e, tr) {
        var $originals = tr.children();
        var $helper = tr.clone();
    
        $helper.children().each(function(index) {
            $(this).width($originals.eq(index).width())
        });
        
        return $helper;
    };
  
    $(".table-sortable tbody").sortable({
        helper: fixHelperModified      
    }).disableSelection();

    $(".table-sortable thead").disableSelection();



    $("#add_row").trigger("click");
});

function handleAction(id, action) {
  const url = `/update_request/${id}/`; 
  const data = { action: action };
  
  // Get CSRF token from cookie (Django's recommended approach)
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(result => {
    console.log(result);
    if (result.success) {
      // Remove row from the page after success
      $(`tr[data-id="${id}"]`).remove();
      alert('Request processed successfully!');
    } else {
      alert('Error: ' + (result.error || 'Unknown error'));
    }
  })
  .catch(error => {
    console.error('Error:', error);
    alert('An error occurred. Please try again.');
  });
}

  </script>
  
{% endblock javascripts %}
