

   <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-material">
                  Tunisian FerryBox Dashboard
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" href="https://www.creative-tim.com/">INSTM Team</a> - created on <a target="_blank" href="https://appseed.us">2025</a>
          </div>
        </div>
    </footer>
