  {% load leaflet_tags %}
{% load static %}

{% leaflet_js %}
{% leaflet_css %}

<style type="text/css">
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
</style>


<script type="text/javascript" id="container8" >


      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;


// add the gulfs

// var Tunis = L.marker([36.794918,10.349404]).bindPopup('Gulf of Tunis'),
//     Genova    = L.marker([43.286082,5.327058]).bindPopup('Gulf of Genova'),
//     Marseille    = L.marker([44.360921,8.964116]).bindPopup('Gulf of Marseille');

// var Gulfs = L.layerGroup([Tunis, Genova, Marseille]);


// var overlayMaps = {
//     "gulfs": Gulfs
// };



// L.control.layers(overlayMaps).addTo(map);
  
   // Download GeoJSON data with Ajax

        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
            maxZoom: 13
        }).addTo(map);

          var Goulette_Genova = [

          {% for q in queryset %}
    {
        "type": "Feature",
        "geometry": {
            "type": "LineString",
            "coordinates": [
                [
                    {{ q.Longitude }},
                    {{ q.Latitude }}
                ],
                [
                    {{ q.Longitude }},
                    {{ q.Latitude }}
                ]
            ]
        },
        "properties": {
            "Turbidity":{{ q.Turbidity }},
            "Longitude":{{ q.Longitude }},
            "Latitude":{{ q.Latitude }}
        }
    },
      {% endfor %} 
    ]; 



     function showData (feature, layer) {
        layer.bindPopup(
            '<p><b>Turbidity : </b>' +
             + feature.properties.Turbidity + '    NTU' + '</p>' +
        '<b>LatLng ( </b>' + feature.properties.Latitude + ' ,  ' +feature.properties.Longitude + ')' )
        ;
    }



    L.geoJson(Goulette_Genova, {
        style: function (feature) {
            return {
            "color": getColor_chlorophylle(feature.properties.Turbidity),
             "opacity": 1,
            }},
        onEachFeature: showData,
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, {
                radius: 4,
                color: "red"
            })
        },
    }).addTo(map);


function getColor_chlorophylle(x) {
      return x < 2    ?   '#0000FF':
             x < 4    ?   '#003366':
             x < 6     ?   '#004C99':
             x < 8     ?   '#0066CC':
             x < 10     ?   '#009999':
             x < 15     ?   '#006633':
             x < 20    ?   '#00CCCC': 
             x < 22      ?   '#00FFCC':
             x < 25     ?   '#99FF98':
             x < 27     ?   '#CCFF66':
             x < 30    ?   '#CCCC66':
             x < 35     ?   '#CC6633':                                                                
             x < 40       ?   '#CC0033':
             x < 45     ?   '#993333':
             x < 50    ?   '#990000':
                             '#660000' ;
    };



// add the title


function highlightFeature(e) {
    var layer = e.target;
    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    
    info.update();
}

var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); 
    this.update();
    return this._div;
};

info.update = function (props) {
    this._div.innerHTML = '<h5>Trip details</h5>' +  
    (props ? '<b>' + props.Turbidity + '</b>' + props.Longitude + ' people / mi<sup>2</sup>': '<b>Trip ref</b> : {{ trip }}')+
    '<br><b>Transect</b> : {{ transect }}'+
    '<br><b>Date</b> : {{ date }}'+
    '<br><b>Parameter</b> : Turbidity'+
    '<br><b>Quality</b> : {{ quality }}';
};

info.addTo(map);

// new options for a legend 



var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [2,4,6,8,10,15,20,25,30,35,40,45],
        labels = [];
    div.innerHTML +='<h5>Legend (NTU)</h5>';

    // loop through our density intervals and generate a label with a colored square for each interval
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor_chlorophylle(grades[i] + 0.2) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};

legend.addTo(map);






    //other options to controle the map

    // info.update = function (props) {
    // this._div.innerHTML = '<img src="http://www.dailyfocus.net/wp-content/uploads/2014/05/Logo-Terna.jpg" alt="Smiley face" height="58" width="120">';
    // };

    var punti = L.geoJson(nidi_pt, {
    pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, geojsonMarkerOptions);
    }
    });

    punti.addTo(map);

    info.addTo(map);

    var hash = new L.Hash(map);
    var zoomHome = L.Control.zoomHome({position: 'topleft'});
    zoomHome.addTo(map);
    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 0.2,
        fillOpacity: 0.2
    };

          });
     
    </script>



